.time{
    text-align: center;
    align-items: center;
    .Time_refresh{
    
        font-style: normal;
        font-size: 48px;
        color: #FFFFFF;
    }
    .P{
        
        font-style: normal;
        
       
          
    }
}

@media (min-width: 280px) and (max-width: 653px){
    .time{

       .Time_refresh{
        font-size: 29px;
        padding-top: 0.3rem;
       }
       
       p{
        font-size: 0.7rem;
       }
    }
}
