.time{
    text-align: center;
    align-items: center;
    .Time_refresh{
    
        font-style: normal;
        font-size: 48px;
        color: #FFFFFF;
    }
    .P{
        
        font-style: normal;
        text-align: center;
       
          
    }
}

