.button{
    width: 16.125rem;
    height: 6.190rem;
    padding-left: 23.063rem;
   
    .continuar_navegando{
        background-color: #ffffff;
        width: 50%;
        height: 100%;
        color: red;   
    }

    .logout{
        width: 50%;
        color: #ffffff;
        background: transparent;
        
    }
}